<app-loader *ngIf="isLoaderShow"></app-loader>
<div *ngIf="!isLoaderShow"class="container">
  <div *ngIf="!callotp" class='forgot'>
    <div class='forgot_title'>
      <span>FORGOT YOUR PASSWORD?</span>
    </div>
    <div class='forgot_fields'>
      <div class='forgot_fields_mailId'>
        <input matInput [(ngModel)]="userId" name="user" placeholder='Enter User Id' type='text'
          (keyup.enter)="validateInput($event)" />
        <mat-icon>person</mat-icon>
        <input matInput class="mail" [(ngModel)]="mailId" name="mailId" #name="ngModel" focusInput [index]="1"
          [currentIndex]="currentIndex" (focused)="focused($event)" placeholder='Enter Mail Id' type='text'
          (keyup.enter)="validateInput($event)" />
        <mat-icon>email</mat-icon>
      </div>
    </div>
    <div class='forgot_fields__submit'>
      <input type='submit' (click)="sendOtp()" ng-model="myVar" value='SUBMIT'>
    </div>
  </div>
  <div *ngIf="callotp">
    <app-otp-generate></app-otp-generate>
  </div>
</div>