<div class="container">
  <div class='login'>
    <div class='login_title'>
      <span>LOGIN</span>
    </div>
    <div class='login_fields'>
      <div class='login_fields__user'>
        <div class='icon'>
          <!-- <img src='./assets/images/icons/user.png'> -->
          <mat-icon>person</mat-icon>
        </div>
        <input matInput [(ngModel)]="userId" name="userId" #name="ngModel" focusInput [index]="1"
          [currentIndex]="currentIndex" (focused)="focused($event)" placeholder='User id' type='text'
          (keyup.enter)="validateInput($event)" />
        <span class="required" *ngIf="isUserIdNotExists && !userId">
          UserId is required
        </span>
      </div>

      <div class='login_fields__password'>
        <div class='icon'>
          <!-- <img src='./assets/images/icons/lock.png'> -->
          <mat-icon>lock</mat-icon>
        </div>
        <input matInput [(ngModel)]="password" name="password" focusInput [index]="2"
          [type]="hide ? 'text' : 'password'" [currentIndex]="currentIndex" (focused)="focused($event)"
          placeholder='Password' type='password' (keyup.enter)="validateInput($event)" />
        <mat-icon class="visibilityClass" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <span class="required" *ngIf="ispasswordNotExists && !password">
          Password is required
        </span>
      </div>
      <div class='login_fields__submit'>
        <input type='submit' (click)="login()" value='Login'>
        <div class='forgot'>
          <span (click)="forgot()">
            Forgot Password?
          </span>
        </div>
      </div>
    </div>
  </div>
</div>